@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&family=Ubuntu:wght@300&display=swap');
body, html {
    width: 1280px;
    height: 1300px;
}

.horisontal-ul {
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 25px;
}
.horisontal-ul li {
    display: inline-block;
    padding: 15px 65px;
    background-color: #35444F;
    color: white;
    }
.ramda {
    height: 79px;
    width: 34px;
    left: 20px;
    top: 50px;
    font-size: 80px;
    font-family: "Roboto";  
    margin: 0px 0px 0px 22px;
        
}
.menu  {

            margin: 40px 0px 0px 25px;
            width: 330px;
            border: 2px solid slategrey;
            line-height: 3;
            display: inline-block;
            font-family: "Roboto";
            list-style-position: inside;
            font-size: 22px;
            padding: 0px 0px 0px 0px;
}
img {
    position: absolute;
    width: 897px;
    height: 530px;
    margin: -396px 0px 0px 385px;
    }
.photo {
    border: 1px solid red;
}
.main {
    margin: 5px 10px 10px 40px;
}
.text {
    font-family:"Roboto";
    margin: 30px 80px 10px 300px;
    line-height: 1.25;
}
.main-text {
    position: absolute;
    margin: 140px 0px 0px 90px;
    width: 1270px;
}
.horisontal-ul_down li {
        display: inline-block;
        padding: 15px 30px 10px 50px;
        margin: 0px 0px;
        text-align: center;
        color: aliceblue;
        background-color: #63696E7A;
        font-family: "Roboto";
        font-size: 20px;
        color: black;
        

}

.menu ul {
    padding: 0px;
    
}
.horisontal-ul_down {
    position: absolute;
    margin: 400px 0px 0px -20px;
    display: flex;
}
.horisontal-ul-li:hover {
    background-color: #222F3A;
}
.menu-li:hover {
    background-color: #DBDBDB;
}
.horisontal-ul_down-li:hover {
    color: #3181A6;
    text-decoration: underline;
}
a {
    color: #4BCAFF;
}